* {
    --brand: #0af;
    --brand: hsl(200 100% 50%);

    --brand-hue: 200;
    --brand-saturation: 100%;
    --brand-lightness: 50%;

    --brand-dim: hsl(var(--brand-hue) calc(var(--brand-saturation) / 1.25) calc(var(--brand-lightness) / 1.25));
    --text1-dim: hsl(var(--brand-hue) 15% 75%);
    --text2-dim: hsl(var(--brand-hue) 10% 61%);
    --surface1-dim: hsl(var(--brand-hue) 10% 20%);
    --surface2-dim: hsl(var(--brand-hue) 10% 25%);
    --surface3-dim: hsl(var(--brand-hue) 5% 30%);
    --surface4-dim: hsl(var(--brand-hue) 5% 35%);
    --surface-shadow-dim: var(--brand-hue) 30% 13%;
    --shadow-strength-dim: .2;
}

@font-face {
    font-family: titleText;
    src: url(../fonts/GardenaQuanto-Regular.ttf);
}



body {
    /* background-color: var(--surface1-dim); */
    text-align: center;
    font-family: titleText;
    background-image: url(../images/entrance-to-an-inn-in-the-praestegarden-at-hillested-martinus-rorbye-4e09d408.jpg);
    background-size: cover;
}


figcaption,
h2 {
    color: var(--text1-dim);
    text-shadow: 8px -3px 9px hsl(200deg 21.47% 74.4%);
    margin: 0;
    font-size: 2.5em;
}

h2 {
    padding-top: 1em;
    color: var(--brand-dim);
}

figure {
    background-color: hsla(0, 2%, 75%, 0.5);

}


ul,
li {
    list-style-type: none;
    text-align: center;
    padding: 1em;
    font-size: 1.5em;
}

ul {
    margin-top: 0;

}

a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    text-shadow: -2px 2px 5px rgba(255, 255, 255, 0.54);
}

a:hover {
    color: whitesmoke;
    text-shadow: 2px -2px 5px hsl(0, 1%, 28%);
}

li:hover {
    /* text-shadow: -4px 4px 32px rgba(239,239,34,0.54);    */
    background: radial-gradient(circle, rgba(226, 198, 121, 1) 0%, rgba(0, 0, 0, 0.04873623033197649) 100%);
}