* {
    --brand: #0af;
    --brand: hsl(200 100% 50%);

    --brand-hue: 200;
    --brand-saturation: 100%;
    --brand-lightness: 50%;

    --brand-dim: hsl(var(--brand-hue) calc(var(--brand-saturation) / 1.25) calc(var(--brand-lightness) / 1.25));
    --text1-dim: hsl(var(--brand-hue) 15% 75%);
    --text2-dim: hsl(var(--brand-hue) 10% 61%);
    --surface1-dim: hsl(var(--brand-hue) 10% 20%);
    --surface2-dim: hsl(var(--brand-hue) 10% 25%);
    --surface3-dim: hsl(var(--brand-hue) 5% 30%);
    --surface4-dim: hsl(var(--brand-hue) 5% 35%);
    --surface-shadow-dim: var(--brand-hue) 30% 13%;
    --shadow-strength-dim: .2;

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: titleText;
    src: url(../fonts/GardenaQuanto-Regular.ttf);
}

/*index.html*/

.indexBackground {
    text-align: center;
    font-family: titleText;
    background-image: url(../images/entrance-to-an-inn-in-the-praestegarden-at-hillested-martinus-rorbye-4e09d408.jpg);
    background-size: cover;
}

.indexTable {
    margin: auto;
}

.indexTable>figcaption,
#indexTitle {
    color: var(--brand-dim);
    text-shadow: 8px -3px 9px hsl(200deg 21.47% 74.4%);
    margin: 0;
    font-size: 2em;
    margin-bottom: 0;
}

.indexTable {
    background-color: hsla(0, 2%, 75%, 0.5);
    margin: 10% 0px;
}

.indexTable>ul {
    padding: 0 1em 1em 1em;
}

.indexTable>ul>li {
    list-style-type: none;
    text-align: center;
    margin: .2em;
    font-size: 1.5em;
}

.indexTable>ul>li>a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    text-shadow: -2px 2px 5px rgba(255, 255, 255, 0.54);
    display: block;
    padding: 1em;
}

.indexTable>ul>li>a:hover {
    color: whitesmoke;
    text-shadow: 2px -2px 5px hsl(0, 1%, 28%);
}

.indexTable>ul>li:hover {
    background: radial-gradient(circle, rgba(226, 198, 121, 1) 0%, rgba(0, 0, 0, 0.04873623033197649) 100%);
}

/* ----------------------------------- */


/*recipes css*/
.readerScreen {
    background-color: rgba(0, 0, 0, 0.23);
    margin: 1em;
}

.readerScreen>p {
    margin: 1em;
    font-size: large;
    font-style: italic;
}

.return {
    text-decoration: none;
    color: rgb(209, 152, 39);
    font-size: large;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    border: 0px;
    padding: .2em 1em;
}

/*bolinho-de-chuva.html*/
.bolinhoBackground {
    /* font-family: titleText; */
    background-size: cover;
    background-image: url(../images/bolinho-de-chuva.jpg);
    text-align: center;
    color: white;
}

/* bolo-toalha-felpuda */
.toalhaBackground {
    font-family: titleText;
    background-size: cover;
    background-image: url(../images/bolo-toalha-felpuda.jpg);
    text-align: center;
    color: white;
}

/* pudim-de-leite-condensadp */
.pudimBackground {
    font-family: titleText;
    background-size: cover;
    background-image: url(../images/pudim-de-leite-condensado.jpg);
    text-align: center;
    color: white;
}

.pudimBackground>div>h1,
.toalhaBackground>div>h1,
.bolinhoBackground>div>h1 {
    color: var(--brand);
    font-size: 3em;
}

.pudimTable,
.toalhaTable,
.bolinhoTable {
    font-size: large;
}

.pudimTable>figcaption>h2,
.toalhaTable>figcaption>h2,
.bolinhoTable>figcaption>h2 {
    color: yellow;
}


.pudimTable>ul,
.toalhaTable>ul,
.bolinhoTable>ul {
    /* list-style-type:none; */
    display: inline-block;
}

.pudimTable>ul>p,
.toalhaTable>ul>p {
    color: salmon;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.15);
}

.pudimTable>ul>li,
.toalhaTable>ul>li,
.bolinhoTable>ul>li {
    padding: .5em;
    list-style-position: inside;
    list-style-type: circle;
}

.pudimTable>ol,
.toalhaTable>ol,
.bolinhoTable>ol {
    list-style-type: decimal;
    display: inline;
    padding: .5em;
}

.pudimTable>ol>ol>li,
.toalhaTable>ol>li,
.bolinhoTable>ol>li {
    padding: .5em;
    list-style-position: inside;
}

.pudimTable>ol>li>p {
    color: black;
    font-weight: bold;
}